@{
    ViewBag.Title = "Home Page";
}
    <h2>@ViewBag.Title</h2>
    <div id="content">
        <p>
            Need cheap textbooks? You've come to the right place!
        </p>

 
        
        <form id="search_form" action="~/Home/Results">
            <label for="Search_Input">Search:</label><span class="glyphicon glyphicon-search"></span>
            <input type="text" placeholder="Search for Textbook" name="Search_Input" id="Search_Input" maxlength="50" required>
            <input value="Submit" id="submit" type="submit" class="submit">
        </form>

		<p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet magna ex. In finibus, massa sit amet lacinia blandit, ligula felis dictum lectus, a auctor dolor urna sed elit.
        </p>

    </div>